This is Balance Sheet Tab Two


liabilities_label
    housingLiabilities_label
    mortgageBalance
    helocBalance
    otherRealEstateBalance
    totalHousingLiabilities

        transportationLiabilities_label
        vehicle1Balance
        vehicle2Balance
        vehicleOthersBalance
        totalTransportationLiabilities

        creditCardsOtherLoansBalance_label
        creditCardsCombinedBalance
        studentLoansBalance
        consumerLoansBalance
        businessLoansBalance
        informalLoansBalance
        totalCreditCardsOtherLoansBalance

        unpaidBillsNotInCollections_label
        unpaidUtilitiesBalance
        unpaidRentBalance
        unpaidMedicalBillsBalance
        moneyOwedToBanksBalance
        otherUnpaidBillsBalance
        totalUnpaidBillsNotInCollections

        collectionsChargeOffsJudgments_label
        medicalCollectionsBalance
        allOtherCollectionsBalance
        childSupportInArrearsBalance
        BackTaxesBalance
        otherPublicRecordsBalance
        totalCollectionsChargeOffsJudgments

        balanceSheetCalculations_label
        totalAssets
        totalLiabilities
        totalNetWorth
        balanceSheetAssessmentNotes
