<p>This is Balance Sheet Tab One</p>

<!--
clientName
assessmentDate

onlyYouOrWholeHousehold_question
onlyYou_answer
wholeHousehold_answer

firstSheetCreated_question
firstSheetYes_answer
firstSheetNo_answer

partialOrCompleteUpdate_question
partialUpdate_answer
completeUpdate_answer -->



<div layout="column" ng-cloak class="md-inline-form">
  <!-- <i class="material-icons">attach_money</i> -->

  <!-- cash assets section-->
  <md-input-container class="md-icon-float md-icon-right md-block">
    <label><!--Checking Balance Value-->Checking Account(s) Balance</label>
    <!-- <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon> -->
    <input ng-model="user.checkingBalanceValue" type="number" step="0.01">
    <!-- <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon> -->
  </md-input-container>

  <md-input-container>
    <label for="savings">Savings Account(s) Balance</label>
    <input type="text" name="savings" ng-model="bsc.user.savingsBalanceValue">
  </md-input-container>

  <md-input-container>
    <label for="cash">Cash on Hand</label>
    <input type="text" name="savings" ng-model="bsc.user.cashOnHandValue">
  </md-input-container>


  <!--vehicle owned section-->
  <md-input-container ng-if="bsc.user.numberVehicles == 1">
    <label for="vehicleOne">Vehicle Value</label>
    <input type="text" name="vehicleOne" ng-model="bsc.user.vehileOneValue">
  </md-input-container>

  <div ng-if="bsc.user.numberVehicles == 2">
    <md-input-container>
      <label for="vehicleOne">Vehicle 1 Value</label>
      <input type="text" name="vehicleOne" ng-model="bsc.user.vehileOneValue">
    </md-input-container>
    <md-input-container>
      <label for="vehicleTwo">Vehicle 2 Value</label>
      <input type="text" name="vehicleTwo" ng-model="bsc.user.vehileTwoValue">
    </md-input-container>
  </div>

  <div ng-if="bsc.user.numberVehicles == 3">
    <md-input-container>
      <label for="vehicleOne">Vehicle 1 Value</label>
      <input type="text" name="vehicleOne" ng-model="bsc.user.vehile1Value">
    </md-input-container>
    <md-input-container>
      <label for="vehicleTwo">Vehicle 2 Value</label>
      <input type="text" name="vehicleTwo" ng-model="bsc.user.vehile2Value">
    </md-input-container>
    <md-input-container>
      <label for="vehicleComb">Vehicle Combined Value</label>
      <input type="text" name="vehicleComb" ng-model="bsc.user.vehileOtherValue">
    </md-input-container>
  </div>

  <!-- real estate ownership section -->
  <md-input-container>
    <label for="homeOwned">Primary Residence Value</label>
    <input type="text" name="homeOwned" ng-model="bsc.user.primaryResidenceValue">
  </md-input-container>

  <md-input-container>
    <label for="otherRealEstate">Real Estate - other than Primary Residence</label>
    <input type="text" name="otherRealEstate" ng-model="bsc.user.otherRealEstateValue">
  </md-input-container>

  <!--investment section-->
  <md-input-container>
    <label for="stocks">Stocks, Bonds, Mutual Funds, and Similar Assets</label>
    <input type="text" name="stocks" ng-model="bsc.user.stocksBondsAndSimilarValue">
  </md-input-container>

  <md-input-container>
    <label for="retirement">Retirement Accounts</label>
    <input type="text" name="retirement" ng-model="bsc.user.retirementAccountsValue">
  </md-input-container>

  <md-input-container>
    <label for="college">College Savings Account</label>
    <input type="text" name="college" ng-model="bsc.user.collegeSavingsValue">
  </md-input-container>


  <md-input-container>
    <label for="business">Business</label>
    <input type="text" name="business" ng-model="bsc.user.businessValue">
  </md-input-container>

  <md-input-container>
    <label for="otherAsset">Other Assests</label>
    <input type="text" name="otherAsset" ng-model="bsc.user.otherAssetsValue">
  </md-input-container>

  <md-input-container>
    <label for="total">Total Assets</label>
    <input type="text" name="total" ng-model="bsc.user.totalAssets">
  </md-input-container>

  <!-- assets_label

  checkingBalanceValue
  savingsBalanceValue

  cashOnHandValue

  vehicle1Value
  vehicle2Value
  vehicleOthersValue

  primaryResidenceValue
  otherRealEstateValue

  stocksBondsAndSimilarValue
  retirementAccountsValue
  collegeSavingsValue -->

</div>
<!-- businessValue
otherAssetsValue
totalAssets -->
