<div ng-cloak>
<md-content class="md-padding" flex>
  <md-nav-bar
    md-selected-nav-item="currentNavItem"
    nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="main.balanceSheet.one" name="main.balanceSheet.one">Assets</md-nav-item>
    <md-nav-item md-nav-sref="main.balanceSheet.two" name="main.balanceSheet.two">Liabilities</md-nav-item>
    <md-nav-item md-nav-sref="main.balanceSheet.three" name="main.balanceSheet.three">Snapshot</md-nav-item>
  </md-nav-bar>
  <div class="ext-content">
    <!-- Whatever is in Tab 1, 2, or 3 goes in ui-view tag below -->
    <ui-view></ui-view>
  </div>
</md-content>
 </div>
