<p>This is Budget Income</p>
<p>{{bic.user}}</p>


////  Monthly Income == monthlyIncome_label

<div class="">


  1 <input ng-model="bic.user.monthlyWagesNet" placeholder="Wages (take-home amount after all withholding) (monthly participant income - net)" type="number">


  2 <input ng-model="bic.user.monthlySelfAndBusinessNet" placeholder="Income from self-employment or business ownership (monthly participant income  - net)" type="number">


  3 <input ng-model="bic.user.monthlyNetSSI" placeholder="SSI/SSDI (monthly participant income - net)" type="number">

  4 <input ng-model="bic.user.monthlyNetSNAPWIC" placeholder="SNAP (food stamps)/WIC (monthly participant income - net)">

  5 <input ng-model="bic.user.monthlyAlimonyNet" placeholder="Alimony/Child Support (monthly participant income - net)">

  6 <input ng-model="bic.user.monthlyUnemploymentNet" placeholder="Unemployment (monthly participant income - net)">

  7 <input ng-model="bic.user.monthlyWorkersCompensationNet" placeholder="Workers' Compensation (monthly participant income - net)">

  8 <input ng-model="bic.user.monthlyVeteransCompensationNet" placeholder="Veteran Compensation (monthly participant income - net)">

  9 <input ng-model="bic.user.monthlyRentalIncomeNet" placeholder="Rental Income (monthly participant income - net)">

  10 <input ng-model="bic.user.monthlyInvestmentIncomeNet" placeholder="Interest/Investment Income (monthly participant income - net)">

  11 <input ng-model="bic.user.monthlyIncomeOtherHouseholdMembersNet" placeholder="Income from other household members (monthly income from other household members - net)">

  12 <input ng-model="bic.user.monthlySocialSecurityNetNotSSI" placeholder="Social Security (not SSI/SSD) (monthly participant income - net)">

  12 <input ng-model="bic.user.monthlyPensionsNet" placeholder="Pensions (monthly participant income - net) ">



  Other Public Benefits (monthly participant income - net) == monthlyOtherPublicBenefitsNet
  Other Income (not public benefit) (monthly participant income - net) ==  monthlyOtherIncomeNet
  Total Monthly Income (net) == totalMonthlyIncomeNet
</div>
